#maintitle{
    text-align: center;
    background-color: rgb(211, 20, 20);
    color: blanchedalmond;
    padding: 20px;
    letter-spacing: 5px;
    font-weight: 500;
}

.box1 h2{
    float: left;
}
.box1 button{
    float: right;
}

.container{
    margin-top: 50px;
}

.box2 h2{
    float: center;
    text-align: center;
}

.box3 h2{
    float: center;
    text-align: center;
}