body{
    background: beige;
    
}

#form{
    background-color:rgb(127, 195, 216);
    width: 50%;
    border-radius: 90px;
    margin: 70px auto;
    padding: 50px;
    text-align: left;
   
}
h1{
    text-align: center;
}
input{
    width: 90%;
    border-radius: 4px;
    border: 3px solid;
    padding: 5px;
}
#btn{
    width: 100%;
    color: black;
    background-color: blueviolet;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    
}